# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies/packages/packages/packages/packages/bin/obj

# user-specific files
*.ruo
*.user *.userosscache
*.sln.docstates

# build results
[Deebug/
[Rrelease/
x64/
x86/build/bld/
[Bbin/
[Oobj/