# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# user-specific files
*.ruo
*.user
*.userosscache
*.sln.docstates

# build results
Debug/
Release/
x64/
x86/
build/
bin/
obj/
